{% load static %}
{% load carts_tags %}  {% comment %} 1) CARTS / TEMPLATES / CARTS / INCLUDEDS / INCLUDED_CART.HTML faylından götürdüyümüz şablon tag-lərinin linklərini yerləşdiririk bu faylın içinə. {% endcomment %}

{% comment %} 
            2) CONTEXT variable-lları artıq həm bu faylın içində istifadə edilə biləcək həmdə    CARTS / TEMPLATES / CARTS / INCLUDEDS / INCLUDED_CART.HTML  faylında. Çünki, bu    CART_BUTTON.HTML 
               faylının içində aşağıda, həmin     INCLUDED_CART.HTML    faylını İNCLUDE  etmişik.

            3) Sonra daxil oluruq      GOODS / TEMPLATES / GOODS / CATALOG.HTML      faylına və şablon tag-i olan BLOCK ilə BASE.HTML faylını genişləndiririk: 
{% endcomment %}
{% user_carts request as carts %}


<div>
    <button type="button" class="btn btn-dark btn-secondary d-flex" id="modalButton" aria-expanded="false">
        <img class="mx-1" src="{% static "deps/icons/basket2-fill.svg" %}" alt="Catalog Icon" width="24" height="24">
        {% comment %} 3) Artiq sebet ikonunun yanında miqdar göstərə bilərik. {% endcomment %}
        <span id="goods-in-cart-count">{{ carts.total_quantity }}</span>
    </button>
</div>
<!-- Cart Modal Window Layout -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>  </div>


            <div class="modal-body">
                <h3 class="text-center mb-4">Cart</h3>
                <div class="container" id="cart-items-container">
                    <!-- Cart layout -->
                     

                        {% include "carts/includes/included_cart.html" %}   
                        
                        
                    <!-- The cart has finished marking -->
                </div>
                <a class="btn btn-dark" href="orders/create_order.html"> Checkout </a>
            </div>

            
        </div>
    </div>
</div>