{% extends "main/base.html" %} 
{% load static %}
{% load goods_tags %}

{% block content %}
    <div class="row">
        <div class="dropdown mb-2">
            <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">   Filters   </button>
            {% comment %} 
                1) MAIN/TEMPLATE/MAIN/BASE.HTML         faylında, FORM elementinin İNPUT tag-inin NAME atributuna 'Q' adını verərərk 'CATALOG:SEARCH' marşrutu vasitesi ilə DƏYƏRİ göndəririk GOODS/VIEWS.PY controllerinə.
                2) GOODS/TEMPLATES/GOODS/CATALOG.HTML   faylında, FORM elementinin İNPUT tag-inin   DƏYƏRLƏRİNİ-də   göndəririk      'CATALOG:İNDEX'  marşrutu vasitesi ilə                   GOODS/VIEWS.PY controllerinə.

                Yəni 2 fərqli marşrut ilə dəyərlər göndərdiyimiz üçün, FİLTER-lədiyimiz məhsullar SEARCH sahəsində bir şeylər yazaraq SUBMİT etdikdə sıfırlanır. Yaxud əksi. Bizə nə lazımdır?
                                                                                                                                                                                            a) FİLTER-lənən məhsulu SEARCH etmək.
                                                                                                                                                                                            b) SEARCH edilən məhsulu FİLTER-ləmək.

                Əgər SEARCH edilən məhsulu FİLTER-ləmək istəyiriksə, FİLTER-in APPLY düyməsi bizi 'CATALOG:SEARCH' marşrutuna yönləndirməlidir. Bunun üçün İF sorğusu ilə yoxlayırıq ki, SEARCH input-una dəyər daxil edilibdir mi?!
            {% endcomment %}
            <form action="{% if request.GET.q %} {% url "catalog:search" %} {% else %} {% url "catalog:index" slug_url %}" {% endif %%} method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
                <div class="form-check text-white mx-3">
                    <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault" value="on" {% if request.GET.on_sale == 'on' %} checked {% endif %}>
                    {% comment %} 
                            3) SEARCH edərək məhsul əldə etdikdə həmin məhsullara FİLTER tətbiq etmək üçün gizli İNPUT tag-i ilə SEARCH sahəsinə daxil edilən DƏYƏR-i göndərmək lazımdır CATALOG:SEARCH marşrutu ilə VIEWS.PY faylına. 
                               Bu gizli İNPUT tag-i ancaq o vaxt dəyər əldə edəcək ki, biz SEARCH sahəsinə bir şeylər yazaq. Məsələn SEARCH sahəsinə 'Tea table' yazdıq və 20 dənə məhsul əldə etdik deyək. Bu 20 məhsul üçün filter 
                               seçib sonra APPLY düyməsinə basdıq da, seçilən FİLTER dəyərləri və SEARCH dəyəri göndəriləcək CATALOG:SEARCH marşrutu ilə VIEWS.PY faylına. Əgər SEARCH sahəsinə heçnə yazmadan APPLY desək onda sadəcə
                               CATALOG:İNDEX marşrutu ilə göndəriləcək dəyərlər. Bu gizli İNPUT tag-inində FİLTER-ə məxsus FORM tag-ində yazılmasının məqsədi elə odur ki, FİLTER dəyərlərini SEARCH dəyərləri ilə birlikdə eyni marşruta
                               göndərək. Bunun üçün həm aşağıdakı İNPUT tag-ində həm yuxarıdakı FORM tag-ində İF şablon tag-indən istifadə etmişik. 

                               4) Gonderilen FILTER ve SEARCH dəyərləri ilə axtarış etdikdə məhsulun əldə edilməsi məqsədi ilə kodu yazmaq üçün gedirik GOODS/VIEWS.PY faylına və filter() metodundan istifadə edirik. get() metodu ilə də
                               əldə etmək olardı ancaq 
                    {% endcomment %}
                    {% if request.GET.q %}       <input type="hidden" name="q" value="{{ request.GET.q }}">        {% endif %}                  
                    <label class="form-check-label" for="flexCheckDefault">  Discount products  </label>
                </div>
                <p class="text-white mx-3 mt-3">Sort:</p>
                <div class="form-check text-white mx-3"> 
                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default" {% if not request.GET.order_by or request.GET.order_by == 'default' %} checked {% endif %}>
                    <label class="form-check-label" for="flexRadioDefault1"> Default </label>
                </div>
                <div class="form-check text-white mx-3"> 
                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price" {% if request.GET.order_by == 'price' %} checked {% endif %}>
                    <label class="form-check-label" for="flexRadioDefault2"> From cheap to expensive </label>
                </div>
                <div class="form-check text-white mx-3"> 
                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price" {% if request.GET.order_by == '-price' %} checked {% endif %}>
                    <label class="form-check-label" for="flexRadioDefault3"> From expensive to cheap </label>
                </div>
                <button type="submit" class="btn btn-primary mx-3 mt-3">Apply</button>
            </form>
        </div>
        {% for product in goods %}
            <div class="col-lg-4 col-md-6 p-4">
                <div class="card border-primary rounded custom-shadow">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                        <img src="{% static "deps/images/Not found image.png" %}" class="card-img-top" alt="">
                    {% endif %}
                    <div class="card-body">
                        <a href="{% url "catalog:product" product.slug %}">
                            <p class="card-title">{{ product.name }}</p>
                        </a>

                        <p class="card-text text-truncate">{{ product.description }}</p>
                        <p class="product_id">id: {{ product.display_id }}</p>
                        <div class="d-flex justify-content-between">
                          
                           {% if product.discount %}
                                <p><s>{{ product.price  }}</s> $</p>
                                <p><strong>{{ product.sell_price }} $</strong></p>
                                <span class="badge bg-warning text-dark">Discount {{ product.discount }} %</span>
                            {% else %}
                                <p><strong>{{ product.price }} $</strong></p>
                           {% endif %}
                            <a href="#" class="btn add-to-cart">
                                <img class="mx-1" src="{% static "deps/icons/cart-plus.svg" %}" alt="Catalog Icon"
                                    width="32" height="32">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div> 
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center my-4">
            <div class="custom-shadow d-flex">
                <li class="page-item {% if not goods.has_previous %} disabled {% endif %}"> 
                    <a class="page-link"        href="{% if goods.has_previous %}                  ?{% change_params page=goods.previous_page_number %}                   {% else %}  #              {% endif %}"    >Previous</a>
                </li>

                {% for page in goods.paginator.page_range %}
                    {% if page >= goods.number|add:-2 and page <= goods.number|add:2 %}
                        <li class="page-item {% if goods.number == page %} active {% endif %}">
                            <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                
                <li class="page-item {% if not goods.has_next %} disabled {% endif %}"> 
                    <a class="page-link"        href="{% if goods.has_next %}                  ?{% change_params page=goods.next_page_number %}                  {% else %}  #              {% endif %}"    >Next</a>
                </li>
            </div>
        </ul>
    </nav> 
{% endblock content %}

{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Home Python Hub Studio 2023</p>
        </div>
    </footer>
{% endblock footer %}