{% extends "base.html" %}
{% load static %}
{% comment %} 
            1) CARTS / TEMPLATETAGS qovluğundakı   CARTS_TAGS.HTML   faylını LOAD edirik ki,  USER_CARTS() adlı şablon tag-ini istifadə edək. Yoxsa:  http://127.0.0.1:8000/user/users-cart/  
               bu linkə daxil olduqda səbəti boş görərdik. 
{% endcomment %}
{% load carts_tags %}



{% block content %}
    {% comment %} 2) {% endcomment %}
    {% user_carts request as carts %}

    <div class="row">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                    <h3 class="text-center mb-4">Cart</h3>
                    <div class="container" id="cart-items-container">


                        <!-- Cart layout -->
        
                        {% include "carts/includes/included_cart.html" %}
                        
                        <!-- The cart has finished marking -->


                    </div>
                    <a class="btn btn-dark" href="../orders/create_order.html"> Checkout </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}